* {
  box-sizing: border-box;
}
body{
  font-family: arial;
  padding: 20px;
  background-color: #4caf50;
}
.header{
padding: 30px;
font-size: 40px;
text-align: center;
background-color: white;
}
.leftcolumn{
  float:left;
  width: 75%;

}
.rightcolumn{
  float: left;
  width: 25%;
  padding-left: 20px;
}
.fakeimg{
  background-color: #aaa;
  width: 100%;
  padding: 20px;
}
.card{
  background-color: white;
  padding: 20px;
  margin-top: 20px;
}
.card2{
  padding: 10px;
  background-color: white;
  margin-top: 20px;
  height: 329px;
}
.card2 p{
  background-color: #aaa;
  height: 240px;
  padding: 20px;
  margin: 10px;
}
.row:affter{
  content: "";
  display: table;;
  clear: both;;
}
.footer{
  clear: both;
  padding: 20px;
  text-align: center;;
  background-color: black;
  margin-top: 20px;
  color: white;
}
@media screen and (max-width:800px;)  {
  .leftcolumn, .rightcolumn{
    width: 100%;
    padding: 0;
  }
}
